PyYAML
Send2Trash
bleach
earthaccess
importlib_resources
ipython_pygments_lexers
jupyter
jupyter_core
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
notebook_shim
plotly-express
prometheus_client
pure_eval
python-dotenv
rasterio
stack-data
widgetsnbextension
